body {
	font-family: 'Lora', serif;
	background-color: darkred;
 width: 900px;
padding: 20px 0px;
margin: 0px;
background: black;
margin: 0 auto;
float: center;
 }

 img {
 	background-color: white;
 }
 